Repository rechtevan/BenchMARL: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Algorithm Implementations, Model Implementations, Experiment Core, Environment Wrappers, Utilities

.codecov.yml:

# Codecov configuration for BenchMARL
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 3  # Wait for 3 builds (Python 3.9, 3.10, 3.11 on ubuntu-latest)
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 90%
        threshold: 1.5%  # Allow 1.5% drop in coverage
        if_ci_failed: error
        informational: false
        only_pulls: false

    patch:
      default:
        target: 75%
        threshold: 5%
        if_ci_failed: error
        informational: false
        only_pulls: true

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

  # Show coverage details in PR comments
  show_carryforward_flags: true

flags:
  unittests:
    paths:
      - benchmarl/
    carryforward: false

# Ignore paths (these should match .coveragerc but codecov uses its own syntax)
ignore:
  - "examples/**/*"
  - "docs/**/*"
  - "notebooks/**/*"
  - "fine_tuned/**/*"
  - "test/**/*"
  - "benchmarl/conf/**/*"
  - "**/__init__.py"
  - "setup.py"
  - "setup.cfg"

# Component-based coverage (for detailed insights)
component_management:
  default_rules:
    statuses:
      - type: project
        target: 90%

  individual_components:
    # Core algorithm implementations should have high coverage
    - component_id: algorithms
      name: Algorithm Implementations
      paths:
        - benchmarl/algorithms/**/*.py
      rules:
        statuses:
          - type: project
            target: 90%
            threshold: 2%

    # Model implementations should have high coverage
    - component_id: models
      name: Model Implementations
      paths:
        - benchmarl/models/**/*.py
      rules:
        statuses:
          - type: project
            target: 90%
            threshold: 2%

    # Experiment and core logic should have high coverage
    - component_id: experiment
      name: Experiment Core
      paths:
        - benchmarl/experiment/**/*.py
      rules:
        statuses:
          - type: project
            target: 90%
            threshold: 2%

    # Environment wrappers can have lower coverage due to external dependencies
    - component_id: environments
      name: Environment Wrappers
      paths:
        - benchmarl/environments/**/*.py
      rules:
        statuses:
          - type: project
            target: 80%
            threshold: 3%
            informational: true

    # Utility and helper code
    - component_id: utils
      name: Utilities
      paths:
        - benchmarl/*.py
      rules:
        statuses:
          - type: project
            target: 90%
            threshold: 2%

Complete MyPy type checking and documentation coverage
  benchmarl/algorithms/common.py
  benchmarl/algorithms/ensemble.py
  benchmarl/algorithms/iddpg.py
  benchmarl/algorithms/ippo.py
  benchmarl/algorithms/iql.py
  benchmarl/algorithms/isac.py
  benchmarl/algorithms/maddpg.py
  benchmarl/algorithms/mappo.py
  benchmarl/algorithms/masac.py
  benchmarl/algorithms/qmix.py
  benchmarl/algorithms/vdn.py
  benchmarl/benchmark/benchmark.py
  benchmarl/environments/common.py
  benchmarl/environments/magent/common.py
  benchmarl/experiment/callback.py
  benchmarl/experiment/experiment.py
  benchmarl/experiment/logger.py
  benchmarl/hydra_config.py
  benchmarl/models/cnn.py
  benchmarl/models/common.py
  benchmarl/models/deepsets.py
  benchmarl/models/gnn.py
  benchmarl/models/gru.py
  benchmarl/models/lstm.py
  benchmarl/models/mlp.py
  benchmarl/run.py
Due: unittests, Algorithm Implementations, Model Implementations, Experiment Core, Environment Wrappers, Utilities

Complete documentation coverage and fix build issues
  .github/workflows/codeql.yml
  .pre-commit-config.yaml
  benchmarl/__init__.py
  benchmarl/algorithms/__init__.py
  benchmarl/algorithms/ensemble.py
  benchmarl/benchmark/__init__.py
  benchmarl/conf/__init__.py
  benchmarl/environments/__init__.py
  benchmarl/environments/common.py
  benchmarl/environments/magent/__init__.py
  benchmarl/environments/meltingpot/__init__.py
  benchmarl/environments/pettingzoo/__init__.py
  benchmarl/environments/smacv2/__init__.py
  benchmarl/environments/vmas/__init__.py
  benchmarl/experiment/__init__.py
  benchmarl/models/__init__.py
  benchmarl/models/common.py
  pyproject.toml
Due: unittests, Algorithm Implementations, Model Implementations, Environment Wrappers

Fix JSON serialization bug in logger
  benchmarl/experiment/logger.py
Due: unittests, Experiment Core

[Feature] New `Callback` methods for `state_dict` (#237)
  benchmarl/experiment/callback.py
  benchmarl/experiment/experiment.py
Due: unittests, Experiment Core

[Doc] Update Discord shield (#239)
  README.md
Due: none

[BugFix] RelVel in GNN (#240)
  benchmarl/models/gnn.py
Due: unittests, Model Implementations

[Release] 1.5.1
  benchmarl/__init__.py
  setup.py
Due: none

Modernize type annotations after upstream merge
  benchmarl/models/gru.py
  benchmarl/models/lstm.py
  benchmarl/models/mlp.py
Due: unittests, Model Implementations

Exclude examples and docs from docstring requirements
  pyproject.toml
Due: none

Fix trailing whitespace in dependabot.yml
  .github/dependabot.yml
Due: none

Extend ruff ignores for examples and fine_tuned directories
  pyproject.toml
Due: none

Add markdownlintignore for examples and docs
  .markdownlintignore
Due: none

Configure markdownlint to be less restrictive
  .markdownlint-cli2.yaml
Due: none

Disable MyPy in pre-commit hooks
  .pre-commit-config.yaml
Due: none

Disable additional strict markdownlint rules
  .markdownlint-cli2.yaml
Due: none

Final lint fixes: exclude setup.py and MD031
  .markdownlint-cli2.yaml
  pyproject.toml
Due: none

Fix CodeQL workflow artifact upload
  .github/workflows/codeql.yml
Due: none

Optimize unit_tests workflow: add caching and disk cleanup
  .github/workflows/unit_tests.yml
Due: none

Add comprehensive security infrastructure (Issue #12)
  .github/dependabot.yml
  SECURITY.md
Due: none

Add comprehensive end-to-end workflow tests (Issue #11)
  test/test_e2e_workflows.py
Due: none

Add comprehensive coverage tests for GNN and Experiment (Issue #11)
  test/test_experiment_coverage.py
  test/test_gnn_coverage.py
Due: none

Fix critical bug in EnsembleAlgorithmConfig methods
  benchmarl/algorithms/ensemble.py
Due: unittests, Algorithm Implementations

Add type: ignore for EnsembleAlgorithmConfig method overrides
  benchmarl/algorithms/ensemble.py
Due: unittests, Algorithm Implementations

Fix disk space issues in all environment test workflows
  .github/workflows/magent_tests.yml
  .github/workflows/meltingpot_tests.yml
  .github/workflows/pettingzoo_tests.yml
  .github/workflows/smacv2_tests.yml
  .github/workflows/torchrl_stable_tests.yml
  .github/workflows/vmas_tests.yml
Due: none

Apply code simplifications and refactoring improvements
  benchmarl/environments/pettingzoo/common.py
  benchmarl/experiment/logger.py
  benchmarl/models/common.py
  benchmarl/models/gnn.py
Due: unittests, Model Implementations, Experiment Core, Environment Wrappers
